In [1]:
import pandas as pd
import os

In [2]:
# file = pandas.read_csv("./Resources/cities.csv", encoding="utf-8", nrows=10)
csv_path = os.path.join('Resources', 'cities.csv')
cities_csv = pd.read_csv(csv_path, encoding="UTF-8", nrows=10)
cities_csv

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mahébourg,75,MU,6/17/2021 17:59,94,-20.4081,57.7000,70.09,9.22
1,1,Oranjestad,20,AW,6/17/2021 17:59,62,12.5240,-70.0270,89.55,21.85
2,2,Grand Gaube,14,MU,6/17/2021 17:59,84,-20.0064,57.6608,70.38,1.99
3,3,Hasaki,10,JP,6/17/2021 17:51,80,35.7333,140.8333,62.98,11.34
4,4,Puerto Ayora,75,EC,6/17/2021 17:51,83,-0.7393,-90.3518,78.55,5.99
5,5,Shahr-e Bābak,0,IR,6/17/2021 17:59,11,30.1165,55.1186,82.71,16.33
6,6,Lebu,11,CL,6/17/2021 17:51,66,-37.6167,-73.6500,56.53,3.62
7,7,Torbay,75,CA,6/17/2021 17:59,80,47.6666,-52.7314,68.49,19.57
8,8,Rikitea,97,PF,6/17/2021 17:59,79,-23.1203,-134.9692,74.25,28.74
9,9,Baní,48,DO,6/17/2021 17:59,55,18.2833,-70.3333,87.57,16.67

In [4]:
# cities_csv.to_html("cities_table.html", index=False, classes=['table', 'table-striped', 'table-hover'])
cities_csv.to_html('cities_table.html', index=False, classes=['table', 'table-striped', 'table-hover'], encoding= 'utf-8')

TypeError: to_html() got an unexpected keyword argument 'encoding'