In [16]:
import pandas as pd
import os

In [17]:
# file = pandas.read_csv("./Resources/cities.csv", encoding="utf-8", nrows=10)
csv_path = os.path.join('Resources', 'cities.csv')
cities_csv = pd.read_csv(csv_path, encoding="utf-8")
cities_csv

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mahébourg,75,MU,6/17/2021 17:59,94,-20.4081,57.7000,70.09,9.22
1,1,Oranjestad,20,AW,6/17/2021 17:59,62,12.5240,-70.0270,89.55,21.85
2,2,Grand Gaube,14,MU,6/17/2021 17:59,84,-20.0064,57.6608,70.38,1.99
3,3,Hasaki,10,JP,6/17/2021 17:51,80,35.7333,140.8333,62.98,11.34
4,4,Puerto Ayora,75,EC,6/17/2021 17:51,83,-0.7393,-90.3518,78.55,5.99
...,...,...,...,...,...,...,...,...,...,...
640,640,Yokadouma,100,CM,6/17/2021 18:04,97,3.5167,15.0500,69.64,1.63
641,641,Linxia Chengguanzhen,100,CN,6/17/2021 18:04,75,35.6003,103.2064,51.98,3.36
642,642,Winneba,52,GH,6/17/2021 18:04,78,5.3511,-0.6231,80.67,16.55
643,643,Karasuyama,7,JP,6/17/2021 18:04,93,36.6500,140.1500,58.26,2.75
644,644,Popondetta,100,PG,6/17/2021 18:04,95,-8.7537,148.2534,72.41,2.64

In [19]:
# drop the rows containing special characters
cities_drop = cities_csv.drop(cities_csv[cities_csv.City.str.contains(r'[^0-9a-zA-Z]')].index)
cities_drop.to_csv('Resources/cities_drop.csv')

In [20]:
cities_drop.to_html('table.html', index=False, classes=['table', 'table-striped', 'table-hover'])